################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/team7WebApp/.vs/team7WebApp/v15/Server/sqlite3
/team7WebApp/.vs/team7WebApp/v15
